@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-out;
  }


  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(60px); /* Movimiento desde abajo hacia arriba */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Posición final */
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 1.5s ease-out;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(30px); /* Movimiento desde abajo hacia arriba */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* Posición final */
    }
  }
  
  .fade-in-right {
    animation: fadeInRight 4s ease-out;
  }


  